<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para Directores Tecnicos</title>
</head>
<body>
    <form action="{% url 'DTs' %}" method="POST"> {% csrf_token %}
        <p> Nombre del DT: <input type="text" name="nombre"></p>
        <p> Apellido del DT: <input type="text" name="apellido"></p>
        <p> Equipo que dirije: <input type="number" name="equipo"></p>
        
        <button type="submit"> Enviar </button>
        

    </form>
</body>
</html>